.navbar{
    background-image: url('snowbird.jpg');
    background-size: cover;
}
.navbar-brand {
    color: #000000;
}
.navbar-toggler-icon {
    order:0;
    float: left;
  }
.navbar-link {
    color: black;
    padding-right: .5rem;
    padding-left: .5rem;
}
.navbar-link:hover {
    cursor: pointer;
    color: darkgray;
}
.container {
    margin-top: 25px;
}
body {
    background-image: url('snowbird.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    font-family: 'Ubuntu', sans-serif;
}
.name {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.resume {
    color: black;
    margin-left: 15px;
}
.resume:hover{
    color: darkgray;
}
a {
    color: black;
}
a:hover {
    color: darkgray;
}
.color-background{
    background-color: rgba(251, 250, 255, 0.3);
}
